.cartContainer{
    padding:2rem;
}

.cartItem{
    display:flex;
    align-items:center;
    margin-bottom:1rem;
    border-bottom:1px solid #ddd;
    padding-bottom:1rem;
}

.cartImage{
    width:80px;
    height:auto;
    border-radius:8px;
    margin-right:1rem;
}

.cartDetails {
    flex: 1;
}
  
.cartTitle {
    font-size: 1.2rem;
    margin: 0;
}
  
.cartPrice {
    color: #007bff;
}
  
.removeButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
  
.removeButton:hover {
    background-color: #c82333;
}